{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if isedited == false %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="edit agent"/>
    {{ form_end(form) }}
    <button onclick="window.location.href = '{{ path('app_agent_list') }}'">Back to agent list</button>
    {% else %}
    <h1>The agent {% if agent.name is same as ('47') %} Agent 47 {% else %} {{ agent.name }}, {{ agent.surname }} {% endif %} has been edited! ✅</h1>
    <button onclick="window.location.href = '{{ path('app_agent_list') }}'">Back to agent list</button>
    {% endif %}
</div>
{% endblock %}
