{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        {% if isAdded == false %}
            <h2>Add a new country</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="button" type="submit" value="Add country"/>
            {{ form_end(form) }}
            <button onclick="window.location.href = '{{ path('app_country_list') }}'">Back to country list</button>
        {% else %}
            <h1>The country {{ country.name }} has been added! ✅</h1>
            <button onclick="window.location.href = '{{ path('app_country_add') }}'">Add another country</button>
            <button onclick="window.location.href = '{{ path('app_country_list') }}'">Back to country list</button>
        {% endif %}
    </div>
{% endblock %}
