{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        {% if isedited == false %}
            <h2>Edit country {{ country.name }}</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="button" type="submit" value="edit country"/>
            {{ form_end(form) }}
            <button onclick="window.location.href = '{{ path('app_country_list') }}'">Back to country list</button>
        {% else %}
            <h1>The country {{ country.name }} has been edited! ✅</h1>
            <button onclick="window.location.href = '{{ path('app_country_list') }}'">Back to country list</button>
        {% endif %}
    </div>
{% endblock %}
