{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        {% if isAdded == false %}
            <h2>Add a new asset :</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="button" type="submit" value="Add asset"/>
            {{ form_end(form) }}
            <button onclick="window.location.href = '{{ path('app_asset_list') }}'">Back to asset list</button>
        {% else %}
            <h1>The asset {{ asset.name }}, {{ asset.surname }} has been added! ✅</h1>
            <button onclick="window.location.href = '{{ path('app_asset_add') }}'">Add another asset</button>
            <button onclick="window.location.href = '{{ path('app_asset_list') }}'">Back to asset list</button>
        {% endif %}
    </div>
{% endblock %}
