{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        {% if isedited == false %}
            <h2>Edit asset {{ asset.name }}</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="button" type="submit" value="edit asset"/>
            {{ form_end(form) }}
            <button onclick="window.location.href = '{{ path('app_asset_list') }}'">Back to asset list</button>
        {% else %}
            <h1>The asset {{ asset.name }}, {{ asset.surname }} has been edited! ✅</h1>
            <button onclick="window.location.href = '{{ path('app_asset_list') }}'">Back to asset list</button>
        {% endif %}
    </div>
{% endblock %}
