{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Assets :</h1>
        {% if assetsCount > 0 %}
            <table>
                <tr>
                    <th>name</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for asset in pagination %}
                    <tr>
                        <td>{{ asset.name }}, {{ asset.surname }} </td>
                        <td>
                            <button class="tablebutton" onclick="window.location.href = '{{ path('app_asset_edit', {'id': asset.id}) }}'">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="tablebutton" onclick="window.location.href = '{{ path('app_asset_delete', {'id': asset.id}) }}'">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <h2>There is no assets</h2>
        {% endif %}
        <button onclick="window.location.href = '{{ path('app_asset_add') }}'">Add a new asset</button>
    </div>
{% endblock %}
