{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper missiondetails">
        <h1>Missions :</h1>
        {% if missionsCount > 0 %}
            <table>
                <tr>
                    <th class="textcase">Title</th>
                    <th class="textcase">Codename</th>
                    <th class="textcase">Type</th>
                    <th class="textcase">Status</th>
                    <th></th>
                </tr>
                {% for mission in pagination %}
                    <tr>
                        <td class="textcase">{{ mission.title }}</td>
                        <td class="textcase">{{ mission.codename }}</td>
                        <td class="textcase">{{ mission.type }}</td>
                        <td class="{{ mission.status }} textcase">{% if mission.status is same as ('In_progress') %} In progress {% else %} {{ mission.status }} {% endif %}</td>
                        <td>
                            <button class="tablebutton" onclick="window.location.href = '{{ path('app_details_display', {'id': mission.id}) }}'">
                                Details
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <h2>There is no missions</h2>
        {% endif %}
    </div>
{% endblock %}
