{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .Success {background-color: palegreen}
    .In_progress {background-color: darkorange}
    .Failure {background-color: red}
    table, tr, th, td {
        border: 1px solid black;
    }

    button {
    }

</style>

<div class="example-wrapper">
    <h1>Missions :</h1>
    {% if missionsCount > 0  %}
    <table>
        <tr>
            <th>Title</th>
            <th>Codename</th>
            <th>Type</th>
            <th>Status</th>
            <th></th>
        </tr>
        {% for mission in missions %}
        <tr>
            <td>{{ mission.title }}</td>
            <td>{{ mission.codename }}</td>
            <td>{{ mission.type }}</td>
            <td class="{{ mission.status }}">{% if mission.status is same as ('In_progress') %} In progress {% else %} {{ mission.status }} {% endif %}</td>
            <td><button onclick="window.location.href = 'http://localhost/details/{{ mission.id }}'">Details</button></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>Aucune mission à afficher</h2>
    {% endif %}
</div>
{% endblock %}
