{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        {% if isadded == false %}
            <h1>Add a new mission :</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="button" type="submit"/>
            {{ form_end(form) }}
            <button onclick="window.location.href = '{{ path('app_mission_list') }}'">Back to mission list</button>
        {% else %}
            <h1>The mission {{ mission.title }} has been added! ✅</h1>
            <button onclick="window.location.href = '{{ path('app_mission_add') }}'">Add another mission</button>
            <button onclick="window.location.href = '{{ path('app_mission_list') }}'">Back to mission list</button>
        {% endif %}
    </div>
{% endblock %}
