{% extends 'base.html.twig' %}

{% block title %}{{ mission.codename }}'s details{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>{{ mission.title }}'s details :</h1>
        <ul>
            <li>Title: <b>{{ mission.title }}</b></li>
            <li>Codename: <b>{{ mission.codename }}</b></li>
            <li>Type: <b>{{ mission.type }}</b></li>
            <li>Description: <b>{{ mission.description }}</b></li>
            <li>Country: <b>{{ mission.country.name }}</b></li>
            <li>Hideout(s):
                <ul>
                    {% for hideout in hideouts %}
                        <li><b>{{ hideout.code }}, {{ hideout.address }}</b></li>
                    {% endfor %}
                </ul>
            </li>
            <li>Required Specialty: <b>{{ mission.requiredSpecialty.type }}</b></li>
            <li>Agent(s):
                <ul>
                    {% for agent in agents %}
                        <li><b>{% if agent.name is same as ('47') %} Agent 47 {% else %} {{ agent.name }}, {{ agent.surname }} {% endif %}</b></li>
                    {% endfor %}
                </ul>
            </li>
            <li>Asset(s):
                <ul>
                    {% for asset in assets %}
                        <li><b>{{ asset.name }}, {{ asset.surname }}</b></li>
                    {% endfor %}
                </ul>
            </li>
            <li>Target(s):
                <ul>
                    {% for target in targets %}
                        <li><b>{{ target.name }}, {{ target.surname }}</b></li>
                    {% endfor %}
                </ul>
            </li>
            <li>Started: <b>{{ mission.begindate|date("d/m/Y") }}</b></li>
            {% if mission.status is same as ('In_progress') or mission.status is same as ('Planification') %} {% else %}
                <li>Ended: <b>{{ mission.enddate|date("d/m/Y") }}</b></li>{% endif %}
            <li>
                Status: {% if mission.status is same as ('In_progress') %} <b class="{{ mission.status }}details">In progress</b> {% else %} <b class="{{ mission.status }}details">{{ mission.status }}</b> {% endif %}</li>
        </ul>
    </div>
{% endblock %}
