<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Spyapp{% endblock %}</title>
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <nav>
            <div class="logo"><img src="{{ asset('medias/logo.png') }}" alt="Spyapp"></div>
            <ul class="nav">
                <li class="nav"><a href={{ path('app_default_index') }}>Home</a></li>
                {% if app.user %}
                    <li class="nav"><a href={{ path('app_mission_list') }}>Missions</a></li>
                    <li class="nav"><a href={{ path('app_agent_list') }}>Agents</a></li>
                    <li class="nav"><a href={{ path('app_asset_list') }}>Assets</a></li>
                    <li class="nav"><a href={{ path('app_target_list') }}>Targets</a></li>
                    <li class="nav"><a href={{ path('app_hideout_list') }}>Hideouts</a></li>
                    <li class="nav"><a href={{ path('app_specialty_list') }}>Specialties</a></li>
                    <li class="nav"><a href={{ path('app_country_list') }}>Countries</a></li>
                {% endif %}
                <li class="nav" style="float: right">{% if app.user %}<a href={{ path('app_logout') }}>
                            Logout</a> {% else %} <a href="login">Login</a> {% endif %}</li>
            </ul>
        </nav>
    {% endblock %}
</header>
<main>{% block body %}{% endblock %}</main>
<footer>{% block footer %}{% endblock %}</footer>
</body>
</html>
