{% extends 'base.html.twig' %}
{% block body %}
    <div class="example-wrapper">
        {% if isadded = false %}
        <h1>Add a new target :</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="button" type="submit"/>
            {{ form_end(form) }}
            <button onclick="window.location.href = '{{ path('app_target_list') }}'">Back to target list</button>
        {% else %}
            <h1>The target {{ target.name }}, {{ target.surname }} has been added! ✅</h1>
            <button onclick="window.location.href = '{{ path('app_target_add') }}'">Add another target</button>
            <button onclick="window.location.href = '{{ path('app_target_list') }}'">Back to target list</button>
        {% endif %}
    </div>
{% endblock %}
