{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        {% if isedited == false %}
            <h1>Edit target {{ target.name }}</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="button" type="submit" value="edit target"/>
            {{ form_end(form) }}
            <button onclick="window.location.href = '{{ path('app_target_list') }}'">Back to target list</button>
        {% else %}
            <h1>The target {{ target.name }}, {{ target.surname }} has been edited! ✅</h1>
            <button onclick="window.location.href = '{{ path('app_target_list') }}'">Back to target list</button>
        {% endif %}
    </div>
{% endblock %}
