{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Targets :</h1>
        {% if TargetsCount > 0 %}
            <table>
                <tr>
                    <th>name</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for target in pagination %}
                    <tr>
                        <td>{{ target.name }}, {{ target.surname }} </td>
                        <td>
                            <button class="tablebutton" onclick="window.location.href = '{{ path('app_target_edit', {'id': target.id}) }}'">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="tablebutton" onclick="window.location.href = '{{ path('app_target_delete', {'id': target.id}) }}'">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <h2>There is no targets</h2>
        {% endif %}
        <button onclick="window.location.href = '{{ path('app_target_add') }}'">Add a new target</button>
    </div>
{% endblock %}
