{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        {% if isadded == false %}
        <h1>Add a new specialty :</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="button" type="submit"/>
        {{ form_end(form) }}
        <button onclick="window.location.href = '{{ path('app_specialty_list') }}'">Back to specialty list</button>
        {% else %}
            <h1>The {{ specialty.type }} has been added! ✅</h1>
            <button onclick="window.location.href = '{{ path('app_specialty_add') }}'">Add another specialty</button>
            <button onclick="window.location.href = '{{ path('app_specialty_list') }}'">Back to specialty list</button>
        {% endif %}
    </div>
{% endblock %}
