{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        {% if isedited == false %}
            <h1>Edit specialty {{ specialty.type }}</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="button" type="submit" value="edit specialty"/>
            {{ form_end(form) }}
            <button onclick="window.location.href = '{{ path('app_specialty_list') }}'">Back to Specialty list</button>
        {% elseif isedited == true %}
            <h1>The specialty {{ specialty.type }} has been edited! ✅</h1>
            <button onclick="window.location.href = '{{ path('app_specialty_list') }}'">Back to specialty list</button>
        {% endif %}
    </div>
{% endblock %}
