{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Specialties :</h1>
        {% if specsCount > 0 %}
            <table>
                <tr>
                    <th>name</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for spec in pagination %}
                    <tr>
                        <td>{{ spec.type }}</td>
                        <td>
                            <button class="tablebutton" onclick="window.location.href = '{{ path('app_specialty_edit', {'id': spec.id}) }}'">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="tablebutton" onclick="window.location.href = '{{ path('app_specialty_delete', {'id': spec.id}) }}'">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <h2>There is no specialties</h2>
        {% endif %}
        <button onclick="window.location.href = '{{ path('app_specialty_add') }}'">Add a new specialty</button>
    </div>
{% endblock %}
