{% extends 'base.html.twig' %}


{% block body %}
    <div class="example-wrapper">
        {% if isAdded == false %}
            <h1>Add a new Hideout :</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="button" type="submit"/>
            {{ form_end(form) }}
            <button onclick="window.location.href = '{{ path('app_hideout_list') }}'">Back to hideout list</button>
        {% else %}
            <h1>The hideout {{ hideout.code }} has been added! ✅</h1>
            <button onclick="window.location.href = '{{ path('app_hideout_add') }}'">Add another hideout</button>
            <button onclick="window.location.href = '{{ path('app_hideout_list') }}'">Back to hideout list</button>
        {% endif %}
    </div>
{% endblock %}
