{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        {% if isedited == false %}
            <h2>Edit Hideout {{ hideout.code }}</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="button" type="submit" value="edit hideout"/>
            {{ form_end(form) }}
            <button onclick="window.location.href = '{{ path('app_hideout_list') }}'">Back to hideout list</button>
        {% else %}
            <h1>The hideout {{ hideout.code }} has been edited! ✅</h1>
            <button onclick="window.location.href = '{{ path('app_hideout_list') }}'">Back to hideout list</button>
        {% endif %}
    </div>
{% endblock %}
