{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hideouts :</h1>
        {% if hideoutsCount > 0 %}
            <table>
                <tr>
                    <th>Code</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for hideout in pagination %}
                    <tr>
                        <td>{{ hideout.code }}</td>
                        <td>
                            <button class="tablebutton" onclick="window.location.href = '{{ path('app_hideout_edit', {'id': hideout.id}) }}'">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="tablebutton" onclick="window.location.href = '{{ path('app_hideout_delete', {'id': hideout.id}) }}'">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <h2>There is no hideouts</h2>
        {% endif %}
        <button onclick="window.location.href = '{{ path('app_hideout_add') }}'">Add a new hideout</button>
    </div>
{% endblock %}